.wrapper {
display: flex;
padding-top: 100px;
padding-bottom: 120px;

}

.inner {
    display: flex;
}

.content {
width: 50%;
}

.subtitle {
    font-size: 2.13rem;
    font-weight: 200;
    color: #2B2A2C;
}

.title {
    font-size: 45px;
    font-weight: 700;
    color: black;

    margin-bottom: 5px;
}

.socialTitle {
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;

    margin-bottom: 15px;
    padding-top: 45px;
    border-top: 2px solid rgba(80, 67, 141, 0.3);
}

.text {
    margin-bottom: 45px;
    font-size: 1.4rem;
    color: rgba(43,42,44,0.7);

    border-bottom: 2px solid rgba(80, 67, 141, 0.3);
    padding-bottom: 45px;
    
}

.introButton {
    margin-top: 45px;
}

.button {
    margin-right: 10px;
}

.photo {
    width: 50%;
    position: relative;
    background: url("./images/symbols_.png") right bottom no-repeat;
}

.img {
    height: 100%;
    position: absolute;
    right: 60px;
    bottom: 0;
    z-index: 1;
    object-fit: cover;
}