.contacts {
    padding: 48px 0;
    
}

.contactsPicture {
    margin-top: 20px;
    padding: 0px 0px 22% 0px;
    overflow: hidden;
    position: relative;

}

.picture {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    font-size: 2rem;
    color: black;
    font-weight: 300;
}

.infoItem {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    &:last-child {
     margin-bottom: 0;
    }
}

.infoIcon {
    margin-right: 1rem;
}
