.card {
    padding: 48px 0;

    @media (max-width: 767px) {
        margin-top: 100px;
    }
}

.work {
    display: flex;
    margin-top: 3rem;
    height: 100%;

    @media (max-width: 767px) {
       flex-direction: column;
       width: 100%;
    }

}

.workPreview {
    width: 65%;
    position: relative;
    overflow: hidden;

    @media(max-width: 1100px) {
        width: 50%;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

.workPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    object-fit: cover;

    transform: translate3d(-50%, -50%, 0);
    max-width:100%;
    max-height: 100%;

    @media (max-width: 767px) {
        position: static;
        transform: none;   
    }
}


.workContent {
    width: 35%;
    padding: 3.4rem 4rem 3rem 1.73rem;

    @media(max-width: 1100px) {
        width: 50%;
    }

    @media (max-width: 767px) {
        width: 100%;
        padding: 2rem 0 0;
    }
}

.woirkInfo {
    margin-bottom: 2.2rem;

    font-size: 1.2rem;
    color: gray;
    text-transform: uppercase;
}

.divider {
    margin: 0 1rem;
}

.workClient {
    margin-bottom: 2.2rem;

    @media (max-width: 767px) {
        margin-bottom: 1.5rem;
    }
}

.clientTitle {
    margin-bottom: 0.2rem;

    font-size: 1.06rem;
    color: black;
    font-weight: 700;
}

.clientCompany {
    font-size: 1rem;
    font-style: italic;
    color: gray;
}

.workText {
    margin-bottom: 8.66rem;

    font-size: 1rem;
    line-height: 2;
    color: gray;
    font-weight: 300;

    @media(max-width: 1100px) {
        margin-bottom: 5.5rem;
    }

    @media(max-width: 900px) {
        margin-bottom: 4rem;
    }

    @media (max-width: 767px) {
        margin-bottom: 2rem;
    }
}

.linkWork {
    text-decoration: none; 
    font-size: .8rem;
    color: black;
    opacity: .7;
    text-transform: uppercase;
    line-height: 2;
}

.linkWork:hover {
    text-decoration: underline;
}

p.text {
    text-indent: 0;
}