.sort {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;

    @media(max-width: 767px) {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

    }
}

.sortLink {
    margin: 0 20px;

    font-size: 16px;
    color: black;
    opacity: .7;
    text-decoration: none;
    transition: .2s;

    @media(max-width: 767px) {
        margin: 0 10px;
    }
}

.active {
    font-weight: 700;
    text-transform: uppercase;
}

.sortLink:hover {
    text-decoration: underline;
    cursor: pointer;
}