.header {
    width: 100%;
    /* background-color: #8300fe71; */
    padding: 1.2rem 0;
    /* position: fixed; */
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

@media (max-width: 700px) {
    .wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }
}