.user {
    display: flex;
}
    
    
.avatar {
      width: 60px;
      height: 60px;
    /* width: rem(96);
    height: rem(96);
    position: absolute;
    top: rem(-48);
    left: 50%;
    margin-left: rem(-48); */
}

.avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding-left: 10px;
    color: black;
}
  
.name {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
}

.prof {
    font-size: 12px;
    opacity: 0.75;
}
